
/.idea
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/Builds
/External files
/2048.sln.DotSettings.user
/.gitattributes

/Assets/UI
#/Assets/_Trash
/Assets/Plugins
/Assets/Resources
/Assets/ExternalDependencyManager
/Assets/GooglePlayGames
/Assets/GPGSIds.cs
/Assets/GoogleMobileAds
/Assets/GeneratedLocalRepo

*.meta
*.sln
*.csproj
*.keystore