
/.idea
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/Builds
/2048.sln.DotSettings.user
/.gitattributes

/Assets/Styles
/Assets/_Trash
/Assets/Plugins
/Assets/Resources
/Assets/ExternalDependencyManager
/Assets/GooglePlayGames
/Assets/GPGSIds.cs
/Assets/GoogleMobileAds

*.meta
*.sln
*.csproj
*.keystore